@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

:root {
  --secondary-blue: #19ade6;
  --primary-black: rgba(78, 78, 78, 0.7);
  --primary-white: #fbfbfb;
  --primary-gray: rgb(238, 238, 238);
  --secondary-black: rgb(33,37,41);
  --secondary-blue: rgb(9,95,214);
}

body {
  min-height: 100%;
  position: relative;
}

/* ******************** Nav ******************** */
nav {
  /* top right bottom left */
  padding: 30px 0px 30px 30px;
}
.navbar > .container-fluid > .collapse {
  margin-left: 65%;
}

.navbar-nav > a {
  color: var(--primary-white) !important;
}

@media only screen and (max-width: 1450px) {
  .navbar > .container-fluid > .collapse {
    margin-left: 55%;
  }
}

/* ******************** Header ******************** */
.header {
  background-image: url("./assets/personal-training.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  opacity: 98%;
}

.layer {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: var(--primary-black);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header > .layer > .header-copy {
  /* top right bottom left */
  padding: 200px 150px 75px 80px;
  color: var(--secondary-blue);
  line-height: 3;
  /* font-family: "Ubuntu", sans-serif; */
}

.header > .layer > .header-copy > h5 {
  color: var(--primary-white);
  /* font-weight: bold; */
}

.header > .layer > .header-copy > h1 {
  font-weight: bold;
}

/* .header > .layer > .header-copy > button {
  background-color: var(--secondary-blue);
  border: none;
  color: var(--primary-white);
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
} */

/* ******************** Programs ******************** */

.programs {
  display: flex;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}
.programs-wrapper > h1 {
  margin: 50px 0px 50px 0px;
  font-weight: bold;
  color: var(--secondary-blue);
  text-align: center;
}

.programs > div {
  border: 1.5px solid var(--secondary-blue);
  background-color: var(--primary-white);
  margin: auto;
  margin-bottom: 60px;
  /* top right bottom left */
  padding: 50px 70px 75px 70px;
  height: 500px;
  width: 400px;
}

.programs > div > h2 {
  color: var(--secondary-blue);
}
.programs > div > button {
  color: var(--secondary-blue);
  outline: 1px solid var(--secondary-blue);
  border: none;
  background-color: var(--primary-white);
  border-radius: 20px;
  /* top right bottom left */
  padding: 10px 20px 10px 20px;
  transition: 0.3s;
}

.programs > div > button:hover {
  color: var(--primary-white);
  outline: 1px solid var(--primary-white);
  background-color: var(--secondary-blue);
  transition: 0.3s;
}

.programs > div > ul > li {
  font-size: 14px;
}

/* ******************** Contact ******************** */

.contact-wrapper > form {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* top right bottom left */
  padding: 5% 25% 5% 25%;
}

.contact-wrapper > form > h1 {
  margin-bottom: 20px;
  color: var(--secondary-blue);
}

.contact-wrapper > form > button {
  width: 80px;
  margin-left: auto;
  border: none;
  color: var(--secondary-blue);
  background-color: var(--primary-white);
  outline: 1px solid var(--secondary-blue);
  border-radius: 20px;
  /* top right bottom left */
  padding: 10px 20px 10px 20px;
  transition: 0.3s;
}

.contact-wrapper > form > button:hover {
  color: var(--primary-white);
  outline: 1px solid var(--primary-white);
  background-color: var(--secondary-blue);
  transition: 0.3s;
}

.contact-wrapper > form > input,
.contact-wrapper > form > textarea {
  border: none;
  outline: 1px solid var(--secondary-blue);
}
.contact-wrapper > form > label {
  margin-bottom: 10px;
  color: var(--primary-black);
}


/* ******************** what you get component ******************** */

.what-you-get {
  text-align: center;
  padding: 0px 0px 40px 0px;
  background-color: var(--primary-gray);
}

.what-you-get > h1 {
  margin: 40px 0px 40px 0px;
}

.what-you-get > div {
  display: flex;
}

.what-you-get > div > div {
  margin: auto;
  text-align: center;
  padding: 20px;
  width: 25%;
  min-height: 240px;
  max-height: 240px;;
  /* background-color: var(--primary-white); */
}

.what-you-get .wyg-card {
  /* border: 1px solid black; */
  padding: 20px 40px 0px 40px;
  background-color: var(--primary-white);
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
  border-radius: 20px;
}

.what-you-get .wyg-card > h3 {
  color: var(--secondary-blue);
}




/* ******************** Beginner ******************** */
.beginner-header {
  display: grid;
  grid-template-columns: 55% 45%;
}

.beginner-header > div:first-child {
  padding: 70px 70px 0px 70px;
}

.beginner-header > div > img {
  width: 100%;
}

.call-to-action {
  display: grid;
  grid-template-columns: 55% 45%;
  height: 300px;
}

.call-to-action > div:first-child {
  width: 95%;
  padding: 10px 10px 10px 20px;
  margin: auto;
}

.call-to-action > div:first-child > p {
  font-size: 18px;
}
.call-to-action > div:last-child {
  padding: 10px 10px 10px 10px;
  margin: auto;
}



/* ******************** Footer ******************** */

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100% !important;
  overflow-x: hidden;
}

.react-footer {
  text-align: center;
}

.react-footer h3 {
  font-size: 1.2rem !important;
}

.react-footer img {
  transition: all 0.3s ease;
  position: relative;
}

.react-footer img:hover {
  width: 2rem;
}

/* ******************** Admin Profile ******************** */

.admin-profile > h1 {
  text-align: center;
  margin: 40px;
}
.admin-profile .admin-card .admin-button > a {
  color: var(--primary-white);
  text-decoration: none;
}
.admin-profile .admin-card .admin-button {
  margin-top: 20px;
}


/* ******************** Carousel ******************** */
.carousel-container {
  background-color: var(--secondary-black);
  text-align: center;
  color: var(--primary-white);
}

.carousel-container > h2 {
  padding: 40px 0px 40px 0px
}

.carousel {
  width: 70%;
  margin: auto;
}

.carousel-item > img {
  height: 500px;
}
